* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --blindfold: #11424b;
    --green: #2f9364;
    --orange: #ff7c37;
    --color-p: #a1a1a1;
    --color-p2: #868585;
    --degrade-btn: linear-gradient(#fe9611, #ff5c00);
}

.header-main-green {
    background: var(--blindfold);
}

/* Class */
.container {
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

section, footer {
    padding: 2.7rem 0;
}

.btn-gradient {
    padding: 10px 25px;
    color: white;
    border: none;
    cursor: pointer;
    background-image: var(--degrade-btn);
}

/* Header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.soon a {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.nav-ul {
    display: flex;
    align-items: center;
}

.nav-ul li {
    margin: 0 35px;
    font-size: 15px;
}

.nav-button a button {
    font-weight: bold;
}

.nav-ul li a {
    color: white;
}

.nav-menuicon {
    display: none;
    position: relative;
    z-index: 10;
}

.navmenu-text {
    display: none;
}

/* Main */
main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.main-text {
    width: 50%;
    color: white;
}

.main-text h1 {
    font-size: 4.5rem;
}

.main-text div {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.main-text div button {
    font-weight: bold;
}

.main-img {
    width: 50%;
    margin-bottom: 15px;
}

.main-img img {
    width: 100%;
}

/* Section - Results */
.results {
    background: #FA8607;
}

.results .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.results .result-text {
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    width: 50%;
}

.results .result-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.results .result-numbers p {
    text-align: center;
    margin: 0 30px;
    font-size: 20px;
}

.results .result-numbers p span { 
    font-size: 30px;
    font-weight: 600;
}

/* Section - Differentials */
.differentials .container {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

.differentials .card {
    width: 30%;
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
}

.differentials .card:hover {
    box-shadow: 0px 10px 67px 8px #9e9ead85;
}

.differentials .card img {
    width: 60px;
}

.differentials .card .title {
    margin: 13px 0;
    font-weight: 600;
}

/* Section - Home */
.home .container {
    display: flex;
    align-items: center;
}

.home .home-img {
    width: 50%;
}

.home .home-img img {
    width: 100%;
    border-radius: 10px;
}

.home .home-text {
    width: 50%;
    padding-left: 90px;
}

.home .home-text h2 {
    font-size: 2.5rem;
}

.home .home-text p {
    margin: 20px 0;
    color: var(--color-p);
}

.home .home-text p b {
    color: black;
    font-size: 20px;
}

/* Section - Best Places */

.best-places .blue {
    font-size: 24px;
    font-weight: 600;
    color: #0060f0;
}

.best-places h2 {
    margin-top: 10px;
    font-size: 2.5rem;
}

.best-places .cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 15px;
}

.best-places .cards .card-item {
    width: 30%;
    text-align: center;
    padding: 30px 0;
    border-radius: 20px;
    box-shadow: 0px 10px 67px 8px #9e9ead85;
}

.best-places .cards .card-item img {
    width: 80px;
}

.best-places .cards .card-item .place-home {
    margin: 5px 0;
    color: var(--color-p);
}

.best-places .cards .card-item .name-home {
    font-size: 30px;
    font-weight: 500;
}

.best-places .cards .card-item .contact-home {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-p2);
}

.best-places .cards .card-item button {
    padding: 10px 20px;
    color: white;
    background-color: var(--orange);
    border: none;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: var(--blindfold);
}

footer .container {
    display: flex;
    color: white;
}

footer .container ul {
    width: 33%;
}

footer .container h3 {
    margin-bottom: 16px;
    font-weight: 600;
}

footer .container .social-networks img {
    margin-top: 20px;
    margin-right: 10px;
}

footer .container ul > p {
    margin-bottom: 40px;
    margin-right: 20px;
}

footer .container li {
    margin: 10px 0;
}

footer .container a {
    color: white;
}

footer .footer-developers  {
    margin-top: 50px;
    margin-bottom: -10px;
    text-align: center;
}

footer .footer-developers a {
    color: white;
}

/* Responsiveness */
@media (max-width: 960px) {
    .nav-menuicon {
        display: block;
    }

    .nav-ul {
        position: fixed;
        background: var(--blindfold);
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.3s;
        flex-direction: column;
        justify-content: center;
    }

    .nav-ul li {
        font-size: 20px;
        margin: 20px 0px;
    }

    .nav-button  {
        display: none;
    }

    .navmenu-text {
        display: block;
        position: fixed;
        left: 100%;
        transition: 0.3s;
    }

    .navmenu-text h1 {
        color: white;
        margin-left: 25px;
    }

    .active {
        left: 0%;
    }

    main .container {
        flex-direction: column;
    }

    main .container .main-text,
    main .container .main-img {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    main .container .main-text h1 {
        font-size: 4rem;
    }

    main .container .main-text div {
        justify-content: center;
    }

    .results .container {
        flex-direction: column;
    }
    .results .result-text, 
    .results .result-numbers {
        width: 100%;
        text-align: center;
    }

    .results .result-numbers {
        margin-top: 30px;
    }

    .differentials .container {
        flex-direction: column;
    }

    .differentials .card {
        width: 100%;
    }

    .home .container {
        flex-direction: column-reverse;
    }

    .home .home-text {
        width: 100%;
        text-align: center;
        padding-left: 0px;
    }

    .home .home-text h2 {
        margin-top: -25px;
    }

    .home .home-text p {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .home .home-text img {
        margin-top: 40px;
    }

    .home .home-img {
        width: 100%;
        margin-top: 40px;
    }

    .best-places .cards {
        flex-direction: column;
    }

    .best-places .cards .card-item {
        width: 100%;
        margin-top: 50px;
    }

    footer .container {
        flex-direction: column;
    }

    footer .container ul {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 440px) {
    .results .result-numbers {
        flex-direction: column;
    }

    .results .result-numbers p {
        margin-bottom: 20px;
    }
}