* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --blindfold: #11424b;
    --green: #2f9364;
    --orange: #ff7c37;
    --color-p: #a1a1a1;
    --color-p2: #868585;
    --degrade-btn: linear-gradient(#fe9611, #ff5c00);
}

.background-green {
    background: var(--blindfold);
}

/* Class */
.container {
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

.btn-gradient {
    padding: 10px 25px;
    color: white;
    border: none;
    cursor: pointer;
    background-image: var(--degrade-btn);
}

/* Header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.soon a {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.nav-ul {
    display: flex;
    align-items: center;
}

.nav-ul li {
    margin: 0 35px;
    font-size: 15px;
}

.nav-ul li a {
    color: white;
}

.nav-menuicon {
    display: none;
    position: relative;
    z-index: 10;
}

/* Main */
main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.main-text {
    width: 50%;
    color: white;
}

.main-text h1 {
    font-size: 4.5rem;
}

.main-text div {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.main-img {
    width: 50%;
}

.main-img img {
    width: 100%;
}

/* Responsiveness */
@media (max-width: 960px) {
    .nav-menuicon {
        display: block;
    }

    .nav-ul {
        position: fixed;
        background: var(--blindfold);
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.3s;
        flex-direction: column;
        justify-content: center;
    }

    .nav-ul li {
        font-size: 20px;
        margin: 20px 0px;
    }

    .active {
        left: 0%;
    }

    main .container {
        flex-direction: column;
    }

    main .container .main-text,
    main .container .main-img {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    main .container .main-text h1 {
        font-size: 4rem;
    }

    main .container .main-text div {
        justify-content: center;
    }
}